@import "tailwindcss";




@theme {

  --bg-color: #fef9f0;
  --text-color: #444444;
  --accent-color: #b69a60;
  --color-bg: #fef9f0;
  /* --color-text: #444444; */



}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0b1220;
    --text-color: #e6eef8;
    --accent-color: #d6b86a;
  }
} */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Utility semantic classes using CSS variables (optional) */
/* .bg-theme {
  background-color: var(--bg-color) !important;
}
.text-theme {
  color: var(--text-color) !important;
}
.accent {
  color: var(--accent-color);
} */